<div class="comment" id="<%= comment.id %>">
  <%= erb :'/comments/_comment_vote_partial', layout: false, locals: {comment: comment} %>
  <p><%=comment.content%></p>
  <p><%=comment.user.username%> | <%= comment.updated_at%></p>
  <span> <%=comment.points %> points </span>
</div>
