  <div>
    <form action="/question/<%=question.id%>/vote" method="POST">
  <input type="submit" value="Upvote">
  <input type="hidden" name="voteable_type" value="Question">
  </form>
  <form action="/question/<%=question.id%>/vote" method="POST">
  <input type="submit" value="Downvote">
  <input type="hidden" name="voteable_type" value="Question">
  </form>

  <a href="/questions/<%=question.id%>"><%=question.headline %></a>
  <br>
  <span> submitted by <%=question.user.username %> | <%=question.updated_at%></span> |
  <span> <%=question.points %> points </span>
  </div><br>
