<h1>Welcome to Stack OverBro</h1>

<%@questions.each do |question| %>


<% if @errors %>
<ul>
  <li><%= @errors %></li>
</ul>
<% end %>

<section id='questions-container'>
  <% if current_user %>
  <form action="/question/<%=question.id%>/vote" method="POST">
    <input type="submit" name="vote_type" value="Upvote">
    <input type="hidden" name="voteable_type" value="Question">
  </form>

  <form action="/question/<%=question.id%>/vote" method="POST">
    <input type="submit" value="Downvote">
    <input type="hidden" name="voteable_type" value="Question">
  </form>
  <% end %>

  <a href="/questions/<%=question.id%>"><%=question.headline %></a>
  <br>
  <span> submitted by <%=question.user.username %> | <%=question.updated_at%></span> |
  <span> <%=question.points %> points </span>

    <div>
  </div>
  <br>
<% end %>
</section>


<a href="/questions/new">Ask a question!</a>


