<h1>Welcome to Stack OverBro</h1>

<%@questions.each do |question| %>


<% if @errors %>
<ul>
  <li><%= @errors %></li>
</ul>
<% end %>

<section id='questions-container'>
  <div>
    <a href="/questions/<%=question.id%>"><%=question.headline %></a>
    <br>
    <span> submitted by <%=question.user.username %> </span>
    <span> <%=question.points %> points </span>

    <div>
  </div><br>
<% end %>
</section>


<a href="/questions/new">Ask a question!</a>


