<div class="welcome">
<h1>Welcome to Stack OverBro</h1>
</div> 
<%@questions.each do |question| %>


<% if @errors %>
<ul>
  <li><%= @errors %></li>
</ul>
<% end %>

<section id='questions-container'>
  <% if current_user %>
  <form class="upvote" action="/question/<%=question.id%>/vote" method="POST">
    <input type="hidden" name="voteable_type" value="Question">
    <input type="hidden" name="vote_type" value="Upvote">
    <input type="submit" value="Upvote">
  </form>

  <form class="downvote" action="/question/<%=question.id%>/vote" method="POST">
    <input type="hidden" name="voteable_type" value="Question">
    <input type="hidden" name="vote_type" value="Downvote">
    <input type="submit" value="Downvote">
  </form>
  <% end %>

  <a href="/questions/<%=question.id%>"><%=question.headline %></a>
  <br>
  <div class="question-stats" id="<%=question.id%>">
    <span> submitted by <%=question.user.username %> | <%=question.updated_at%></span> |
    <span> <%=question.points %> points </span>
  </div>
  <br>
<% end %>
</section>

<% if logged_in? %>
<a href="/questions/new">Ask a question!</a>
<% end %>

