<h1>Stack OverBro</h1>
<h2><%=@question.headline %></h2>
<div><%=@question.content %></div>
<h3>Comments</h3>
<%@question.comments.each do |comment| %>
<p><%=comment.user.username%></p>
<p><%=comment.content%></p>

<%end%>

<h3> Answers</h3>
<%@question.answers.each do |answer| %>
<p>Answer: <%=answer.content %></p>
<p>Username: <%=answer.user.username%></p>
<p></p>
<%end%>
<br>
<% if logged_in? %>
<h3>Your Answer</h3>

<% if @answer_errors %>
<%= @answer_errors %>
<% end %>

<form id="answer_form" action="/answers" method="POST">
  <input type="text" name="answer[content]" placeholder="Your Answer"><br><br>
  <input type="hidden" name="answer[user_id]" value="<%=session[:user_id]%>"><br><br>
  <input type="hidden" name="answer[question_id]" value="<%=@question.id%>">
  <input type="submit" value="Submit">
</form>
<%end%>



